<div class="row">
  <div class="col s8 offset-s2">

    <form id="add-note-form" onsubmit="event.preventDefault()" class="center-align">
      <textarea id="note-message" name="message" type="textarea" placeholder="Enter a message..."></textarea>

      <button class="btn btn-primary waves-effect save-note" data-article-id="{{_id}}">Add</button>
    </form>

  </div>