<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Scraper</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/assets/styles/main.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col s12">
                    <h1 class="card-panel center-align blue-grey lighten-2">News Scraper</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12" id="content-container">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>
    
    <script src="/assets/scripts/articles.js"></script>
</body>
</html>